.idea/
*.iml
.vs/
.vscode/
.DS_Store
social-app/.env
social-app/vendor/
social-app/storage/logs/*.log
!social-app/storage/logs/.gitkeep
social-app/public/uploads/chat/*
!social-app/public/uploads/chat/.gitkeep
social-app/public/media/
.vs/
composer.phar