RewriteEngine On

# Cho phép truy cập file/folder thực tế
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Route khác đến index.php
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
